*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: Arial, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
}
.main{
    margin: 20px 0;
    text-align: center;
}
.title label{
    width:90px;
    font-size: 18px;
    display: inline-block;
    margin: 10px;
}
select{
    width: 80px;
    height: 25px;
}
#timerDisplay{
    font-size: 49px;
    margin: 5px 0;
}
.buttons{
    text-align: center;
}
.buttons button{
    width: 80px;
    margin: 10px 0;
    padding: 2px 0;
}
